{*
 Z-Scheduler

 Last revison: 15.3.2015
 Copyright (c) 2014 ZoraData sdružení (http://www.zoradata.cz)
 *}
 
 
@{block #content}
<div class="row">
   <div class="col-lg-12">
      <h6>&nbsp;</h6>
   </div>
</div>

<div class="row">
   {include './@database.latte'}
   {include './@form.latte'}
</div>
{/block}
 